<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://awsimages.detik.net.id/community/media/visual/2021/02/04/dev-mengenal-kain-nusantara-di-museum-batik-pekalongan.jpeg?w=600&q=90"/>
  <ion-card>
    <ion-card-content>
      <p>Address: Soegondo street</p>
      <p>Complement: 12</p>
      <p>Neighborhood: neighborhood</p>
      <p>Zip code: 55851</p>
      <p>City name: city</p>
      <p>State: state</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button color="success"size="full" (click)="newToPickupCall()">Create pick up call</ion-button>
</ion-content>
