.backdrop{
<<<<<<< HEAD
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center; /* Memastikan spinner berada di tengah secara horizontal */
    align-items: center; /* Memastikan spinner berada di tengah secara vertikal */

    ion-spinner{
        flex: none;
        align-self: center;
    }
}
=======
  position: fixed;
  width: 100%;
  height: 100%;
  background:rgb(0, 0, 0, 0.5);
  display: flex;

  ion-spinner{
    flex: 1;
    align-self: center;
  }
}
>>>>>>> ce0a256d1543d5f6ac66a3ddc769c755a058d782
